{% extends 'base/base.html' %}

{% block title %} Home {% endblock %}

{% block content %} 

<div class="tabs">
    <div class="title">
        GUAVA DRIZZLE
    </div>
    <div class="tab-header">
        <div class="active">Soil Temperature</div>
        <div>Nitrogen Content</div>
        <div>Phosphorus Content</div>
        <div>Potassium Content</div>
        <div>PH Content</div>
        <div>Humidity</div>
        <div>Rainfall</div>

    </div>
    <div class="tab-indicator">
        <div></div>
    </div>
    <div class="tab-body">
        <div class="active">
            <h1>SOIL TEMPERATURE</h1>
            <h3>50 to 75F or 10c to 24c (healthy level)</h3>
            <h3>10c below and 24c above - low possible of life</h3>

            <h4>REASON</h4>
            <p>This is the average soil temperatures for bioactivity range. These values are favorable for normal life functions of earth biota that ensure proper organic matter decomposition, increased nitrogen mineralization, uptake of soluble substances,
                and metabolism. On the contrary, conditions next to freezing slow down activities of soil-dwelling microorganisms, while macroorganisms can’t survive below freezing points at all. Decreased microbial activities are the reason for reduced
                organic matter decomposition and its excessive accumulation.</p>
            <h4>ADVANTAGE/IMPORTANCE (why soil temperature is needed to know): </h4>
            <p>In agriculture, soil temperature is important because optimum warmth at appropriate depths not only promotes effective plant growth. Due to the importance of soil temperature for seed germination, it also influences when to sow. Additionally,
                Plant development and soil temperature are inextricably linked. Warmth stimulates plant growth and development by increasing water and nutrient uptake. Low temperatures restrict water intake by lowering water viscosity, slowing the photosynthetic
                process. The rate of nutrient uptake is influenced by temperature. Low temperatures inhibit nutrient uptake by reducing plant growth rate, nutritional demand, and root respiration, resulting in a reduction in energy supply.
            </p>
        </div>
        <div>
            <h1>NITROGEN CONTENT</h1>
            <h3>30 to 40 (healthy levels)</h3>
            <h3>Min of 0 to Max of 300 - based on the database</h3>

            <h4>REASON</h4>
            <p>Low nitrogen - This is why when there is a nitrogen deficiency in the soil, plants are stunted. They simply cannot make their own cells.</p>
            <p>High nitrogen - your plants may look lush and green, but their ability to fruit and flower will be greatly reduced.
            </p>
            <h4>ADVANTAGE/IMPORTANCE (why nitrogen content is neededed to know):</h4>
            <p>Nitrogen is one of the most important content for plant growth and/or structure, food processing or known as its metabolism, and chlorophyll production that is why it is needed to know its level of content before planting. The plant cannot
                grow taller or generate enough food if it lacks sufficient nitrogen. 
                However, too much nitrogen is also harmful. It can cause the plant to be scorched, causing the leaves to shrink and the plants to be unable to produce blooms or grains. Nitrogen is a significant component of amino acids, which are the building blocks of plant proteins and enzymes, and is an essential macronutrient for plant activity. Proteins are the structural ingredients of all living things, and enzymes help plants perform a wide range of biochemical activities.
            </p>
        </div>
        <div>
            <h1>PHOSPHORUS CONTENT</h1>
            <h3>25 to 50 ppm (healthy levels)</h3>
            <h3>Min of 0 to Max of 300 - based on the database</h3>
            <h4>REASON</h4>
            <p>TOO LOW - retards all of the processes</p>
            <p>TOO HIGH - reduces the plant's ability to take up required micronutrients, particularly iron and zinc, even when soil tests show there are adequate amounts of those nutrients in the soil. Soils with extractable phosphorus levels between 150
                to 200 ppm (parts per million) probably will have problems for 3 to 5 years.</p>
            <h4>ADVANTAGE/IMPORTANCE: Why Phosphorus Content Is Needed To Know?</h4>
            <p>Knowing the phosphorus content of plants is one of the things to keep in mind before planting since plants' complex nucleic acid structure contains phosphorus, which governs protein production. Phosphorus is consequently essential for cell
                division and tissue growth. Phosphorus is also linked to the plant's complicated energy processes. For early growth, phosphorus is frequently advised as a row-applied starter fertilizer. Phosphorus is consequently essential for cell division and tissue growth. 
                Phosphorus is also linked to the plant's complicated energy processes. Adding phosphate to a low-phosphorus soil encourages root growth and winter hardiness, stimulates tillering, and often accelerates maturity.
            </p>
        </div>

        <div> 
            <h1>POTASSIUM CONTENT</h1>
            <h3>40 to 80 ppm (good/healthy level) </h3>
            <h3>Min of 0 to Max of 300 - based on the database</h3>
            <h4>REASON</h4>
            <p>Too much potassium, as necessary as it is, can be harmful to plants because it changes how the soil 
                absorbs other essential elements. Reduced soil potassium can also help to prevent excess phosphorus 
                from entering streams, where it can encourage the formation of algae, which can eventually kill aquatic creatures.</p>
            <h4>ADVANTAGE/IMPORTANCE: Why Potassium Content Is Needed To Know?</h4>
            <p>The most abundant inorganic cation is potassium, which is necessary for optimal plant growth. In plant tissue, 
                potassium is linked to the flow of water, minerals, and carbohydrates. It influences protein, starch, 
                and adenosine triphosphate (ATP) production by activating enzymes within the plant. 
                The rate of photosynthesis can be controlled by ATP production.
            </p>
        </div>

        <!-- Stop editing -->

        <div>
            <h1>PH CONTENT</h1>
            <h3>3 to 9 (healthy level)</h3>
            <h3> Min of 0 to Max of 300 - based on the database </h3>
            <h4>REASON</h4>
            <p>Most soils have pH values between 3.5 and 10. In higher rainfall areas the natural pH of soils typically ranges from 5 to 7, while in drier areas the range is 6.5 to 9. Soils can be classified according to their pH value: 6.5 to 7.5—neutral.
                The perfect ph for soils are 5.8 to 6.5.</p>
            <h4>ADVANTAGE/IMPORTANCE: Why PH Content Is Needed To Know?</h4>
            <p>The amount of nutrients and compounds that are soluble in soil water, and thus the amount of nutrients available to plants, is affected by soil pH to which is part of the soil that needs to be reviewed or known in consideration of the plants
                health. Some nutrients are more readily available in acidic environments, whereas others are more readily available in alkaline environments. Additionally, pH is a significant parameter that represents a solution's chemical state. The
                pH can influence nutritional availability, biological functioning, microbial activity, and chemical behavior.
                If the pH of the vegetable garden is excessively acidic, certain nutrients, particularly phosphorus, become less available, while others, such as aluminum and manganese, can become hazardous. pH values that are too acidic are likewise unwelcoming to helpful soil microbes.
            </p>
        </div>
        <div>
            <h1>HUMIDITY</h1>
            <h3>60% to 100% (healthy level)</h3>
            <h3>Min of 0 to Max of 300 - based on the database</h3>
            <h4>REASON</h4>
            <p>Plants growing in a greenhouse or glasshouse can reach above 80%. For some species its the best place for them to grow. 60% - 80%: This is the ideal level which is difficult to maintain indoors, especially for tropical plants. If a plant is
                sensitive to lower levels than 70%, increasing the humidity will be required.</p>
            <h4>ADVANTAGE/IMPORTANCE: Why Humidity Is Needed To Know? </h4>
            <p>When and how plants open the stomata on the undersides of their leaves is influenced by relative humidity levels that is why it is needed to know beforehand the level of humidity. Plants utilize stomata to breathe, or transpire, and when the
                weather is hot, a plant's stomata may close to decrease water loss. Stomata also serve as a cooling system. When a plant closes its stomata for too long to conserve water because the environment is too hot, it has no way of moving carbon
                dioxide and oxygen molecules, slowly leading the plant to choke on water vapor and its own transpired gases.
                Photosynthesis requires a high level of humidity. Because Anthurium can only absorb a little quantity of humidity and so has less water evaporation than most plants, good humidity around the plant is much more vital than it is for most other crops.
            </p>
        </div>
        <div>
            <h1>RAINFALL</h1>
            <h3>Min of 0 to Max of 400 - based on the database</h3>
            <h4>ADVANTAGE/IMPORTANCE: Why Humidity Is Needed To Know?</h4>
            <p>Rainfall has a significant impact on soil. Nutrients in the soil can flow off and not reach the roots of plants if the weather is too wet or too dry, resulting in poor growth and overall health. Overwatering or too much rain can also cause
                bacteria, fungi, and mold to grow in the soil, as previously noted.
                Advanced rainfall during the growing season has been shown in studies to promote soil water use, which is advantageous to root growth.
            </p>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Poppins", sans-serif;
    }
    
    h1 {
        padding-bottom: 10px;
    }
    
    h4 {
        padding-top: 20px;
    }
    
    .tabs {
        position: relative;
        width: 100%;
    }
    
    .tabs .title {
        padding: 50px 20px 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: rgb(42, 95, 70);
        background: rgb(79, 213, 126);
    }
    
    .tabs .tab-header,
    .tabs .tab-indicator,
    .tabs .tab-body {
        margin: 0 auto;
        max-width: 650px;
        width: 100%;
    }
    
    .tabs .tab-header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: 60px;
        margin-top: -60px;
        z-index: 2;
    }
    
    .tabs .tab-header>div {
        width: 25%;
        text-align: center;
        padding: 10px 0px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: color 300ms ease-in-out;
    }
    
    .tabs .tab-header>div.active {
        color: rgb(42, 95, 70);
    }
    
    .tabs .tab-indicator {
        position: relative;
        height: 60px;
        margin-top: -60px;
    }
    
    
    .tabs .tab-body {
        position: relative;
    }
    
    .tabs .tab-body>div {
        position: absolute;
        width: 100%;
        padding: 20px;
        opacity: 0;
        top: -100vh;
    }
    
    .tabs .tab-body>div>* {
        margin: 10px 0px;
        color: rgb(42, 95, 70);
    }
    
    .tabs .tab-body>div>p {
        font-size: 15px;
    }
    
    .tabs .tab-body>div.active {
        top: 0px;
        opacity: 1;
        transition: top 0ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms;
    }
</style>



<script>
    let tabs = document.querySelector(".tabs");
    let tabHeader = tabs.querySelector(".tab-header");
    let tabHeaderElements = tabs.querySelectorAll(".tab-header > div");
    let tabBody = tabs.querySelector(".tab-body");
    let tabBodyElements = tabs.querySelectorAll(".tab-body > div");
    let tabIndicator = tabs.querySelector(".tab-indicator > div");

    for (let i = 0; i < tabHeaderElements.length; i++) {
        tabHeaderElements[i].addEventListener("click", function() {
            tabHeader.querySelector(".active").classList.remove("active");
            tabHeaderElements[i].classList.add("active");
            tabBody.querySelector(".active").classList.remove("active");
            tabBodyElements[i].classList.add("active");
            tabIndicator.style.left = `${i*17}%`;
        });
    }
</script>

{% endblock %}
